{% extends 'music/base.html' %}
{% load thumbnail %}

{% block body %}

<!--Re-sizes the album cover image so it's not too big or too small.-->
{% thumbnail album.album_logo "320x320" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<h1> {{ album.album_name }} </h1>
<h3> {{ album.artist }} </h3>

<ol>
    {% for song in album.song_set.all %}
        <li>
            {{ song.song_title }}
            <form action="{% url 'music:delete-song' song.id %}", method="post", style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="song_id" value="{{ song.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <i class="far fa-trash-alt"></i>
                </button>
            </form>
        </li>
    {% endfor %}
</ol>


    {% if error_message %}
        <p><strong> {{ error_message }} </strong></p>
    {% endif %}

<a href="{% url 'music:update-album' album.id %}" >Edit</a>


{% endblock %}